.container {
  width: 476px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;

  background-color: rgb(145, 142, 142);
}
